.about-img {
  width: 85%
}

.about-img img {
  width: 100%
}

.bio-paragraph {
  width: 85%;
  text-align: left;
  font-size: 1.2rem;
  margin-top: 15px;
  font-family: "Times New Roman", Georgia, Serif;
  font-style: italic;
}

@media (min-width: 768px) {
  .bio-paragraph {
    font-size: 1.4rem;
    line-height: 28px;
  }
}
