.header {
    display: flex;
    justify-content: center;
    height: 60px;
    color: #555555;
    width: 100%;
    background: #fff;
}

.header a:hover {
    color:#99CCEE;
    text-decoration: none;
}

.header a:visited:active {
    text-decoration: none;
}

.header-menu-options {
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-menu-options div:hover {
    color: #99CCEE;
    cursor: pointer;

}
