@import 'https://fonts.googleapis.com/css?family=Cinzel';

.header {
    display: flex;
    justify-content: center;
    height: 60px;
    color: #9C9C9C;
    width: 100%;
    background: #fff;
    font-family: 'Cinzel', serif;
}

.header a:hover {
    color:#CCCCCC;
    text-decoration: none;
}

.header a:visited:active {
    text-decoration: none;
}

.header-menu-options {
    height: 100%;
    width: 80%;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-menu-options div:hover {
    color: #CCCCCC;
    cursor: pointer;

}
