.top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555555;
    width: 100%;
    background: #fff;
}

.logo {
    height: 110px;
    background: #99CCEE;
    color: #fff;

}

.logo img {
    height: 100%;
}

.hamburger {
  position: absolute;
  top: 40px;
  left: 20px;
}

.reg-header {
  display: none;
}
@media (min-width: 768px) {
  .logo {
      height: 180px;
      background: #99CCEE;
      color: #fff;
  }
  .hamburger {
    display: none;
  }
  .reg-header {
    width: 100%;
    display: inherit;
  }
}
