.top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555555;
    width: 100%;
    background: #fff;
}

.logo {
    height: 120px;
    background: #99CCEE;
    color: #fff;

}

.logo img {
    height: 100%;
}

.hamburger {
  position: absolute;
  top: 35px;
  left: 25px;
}
@media (min-width: 768px) {
  .logo {
      height: 180px;
      background: #99CCEE;
      color: #fff;
  }
  .hamburger {
    display: none;
  }
}
